/build/
/.gradle/
/.idea/
/*.iml
*.log
*.class
/OPENCODE_CONTEXT.md
/src/main/resources/kernel/.idea/
/src/main/resources/kernel/cmake-build-debug/
/.gradle-user-home/
/chunky-core-*.jar
/chunky-master/
